
     .wrapper
     {
         display: flex;
         width: 750px;
         background-color: #ffff;
         padding: 0;
         border-radius: 5px;
         box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
     }
     body
     {
         background-color: rgb(255, 255, 255);
     }
     .left-content
     {
         flex-basis: 50%;
         padding: 30px;
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
     }
     h3
     {
         color: #3e0576;
         font-weight: 700;
         text-align: center;
         margin-bottom: 20px;
         letter-spacing: 2px;
     }
     span
     {
         width: 30px;
         height: 30px;
         background-color: #fff;
         border-radius: 50%;
         border: 1px solid #72838F;
         position: relative;
         margin-right: 10px;
 
     }
     span i
     {
         position: absolute;
         top: 31%;
         left: 31%;
         font-size: 14px;
 
     }
     i.fb_icon
     {
         left: 37%;
     }
     .icons_form
     {
         display: flex;
         justify-content: center;
 
 
 
     }
     .image
     {
         flex-basis: 50%;
 
     }
     .image img
     {
         object-fit: contain;
         width: 100%;
         height: 100%;
         border-radius: 5px;
     }
     .form-label
     {
         font-weight: 500;
         color: #72838F;
     }
     .form-control
     {
         outline: none;
         border: 1px solid #3e0576;
     }
     .password, .user_name
     {
         margin-top: 15px;
     }
     .btn_submit
     {
         width: 100%;
         margin-top: 25px;
         padding-top: 8px;
         padding-bottom: 8px;
         border: none;
         border-radius: 5px;
         background-color: #3e0576;
         color: #fff;
         font-weight: 500;
     }
     .forget_password
     {
         margin-top: 20px;
         text-align: center;
 
     }
     .forget_password a
     {
         color: #72838F;
     }
 
     a
     {
         text-decoration: none;
     }
     .forget_password a:hover
     {
         color: 3e0576;
     }
     #btn_register
     {
         width: 100%;
         display: block;
         background-color: #3e0576;
         text-align: center;
         padding-top: 8px;
         padding-bottom: 8px;
         border-radius: 5px;
         font-weight: 500;
     }
     #btn_register a
     {
         color: #fff;
         text-decoration:none
     }

/* message style*/
 .success {
    padding: 10px;
    background: LawnGreen;
    text-align: center;
    text-transform: capitalize;
    font-size: larger;
    border-radius: 5px;
    margin-bottom: 2px;
 
  } 
  .error {
    padding: 10px;
    background:LightPink;
    text-align: center;
    text-transform: capitalize;
    font-size: larger;
    border-radius: 5px;
    margin-bottom: 2px;
   
   
  }
