{% extends 'app/frame.html' %}
{% load static %}

{% comment %} {% block title %}
Ủng hộ dự án
{% endblock %} {% endcomment %}

{% block content %}
<div class="container">
    <div class="wrapper">
        <div class="row">

            <div class="col-lg-6">
                <h4>
                    Ủng hộ dự án
                </h4>
                <b>
                    Timdothatlac.vn là một dự án cộng đồng được tạo nên để giúp mọi người có thể đăng tin tìm đồ, tìm
                    thú cưng thất lạc, nhắn tìm người thân.
                </b>
                <img src="{% static 'app/donate.jpg'%}" alt="" style='height: 100%; width: 100%; object-fit: contain'>
                <p>
                    Chúng tôi không thu phí khi người dùng đăng tin.
                </p>
                <p>
                    Nếu bạn cảm thấy dự án có ích , hãy ủng hộ chúng tôi để đội ngũ phát triển dự án có thể duy trì và
                    phát triển các tính năng mới cho dự án.
                </p>
                <b>
                    Thông tin tài khoản nhận:
                </b>
                <ul>
                    <li>Số tài khoản: </li>
                    <li>Ngân hàng: </li>
                    <li>Chi nhánh: </li>
                    <li>Chủ tài khoản: </li>
                </ul>
                <p>
                    Trân trọng !
                </p>
                <p>
                    Chia sẻ:
                </p>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    </div>
</div>
{% endblock %}